<%- include('partials/header.ejs') %>

<div class="outerMostDiv">
    <div class="askQuesDiv">
        <h1 class="heading_question">Ask your doubt!!</h1>
        <form method="POST" action="/addQuestion" class="question_form">
            <textarea name="qt" type="text" id="quesInput" ></textarea>
            <button class="ques_button" type="submit">Add Question</button>
        </form>
    </div>

    
    <% for(let i=0;i< questionArr.length;i++) { %>
        <div class="outerDivForQuestions">
            <div class="divShowingQuestion">
                <h1><%= questionArr[i].description %></h1>
                <div class="questionOptions">
                    <div class="upAndDownVote">
                        <button class="buttonForUp"><i class="fas fa-thumbs-up"></i></button>
                        <button class="buttonForDown"><i class="fas fa-thumbs-down"></i></button>
                    </div>
                    <button id="answerToggle-<%= i %>" onClick="toggleAnswer('<%= i %>')">Answers</button>
                </div>
            </div>
            
            <form method="POST" action="/addAnswer" class="divToWriteAns">
                <textarea name="ans" type="text" class="ansInput" rows="1" placeholder="Add an answer..."></textarea>
                <button  class="ans_button" type="submit">Add Answer</button>
                <input type="hidden" name="question" value="<%= questionArr[i]._id %>" />
            </form>

            <div class="seeAllAns" id="seeAllAns-<%= i %>" style="display:none">
                
                <% for(let j=0;j< answerArr.length;j++) { %>
                    <% if(answerArr[j].question.toString() === questionArr[i]._id.toString()) {%>   
                        <div class="divShowingAnswer">
                            <div class="userInfo">
                                <div class="userDP">
                                    <%# <i class="fad fa-smile fa-2x"></i> %>
                                    <img src="http://localhost:5000/profile/avatar/<%= answerArr[j].creator %>" alt="" class="userImage">
                                </div>
                                <div class="nameAndDate">
                                    <div class="userNameAnswer">Rajnish Tiwari</div>
                                    <div class="userDateAnswer">
                                        <%= answerArr[j].dateAndTime%>
                                    </div>
                                </div>
                            </div>
                            <h2><%= answerArr[j].answerText %></h2>
                            <div class="answerOptions">
                                <div class="upAndDownVote">
                                    <button class="buttonForUp"><i class="fas fa-thumbs-up"></i></button>
                                    <button class="buttonForDown"><i class="fas fa-thumbs-down"></i></button>
                                </div>
                                <button id="commentToggle-<%= j %>" onClick="toggleComment('<%= j %>')">Comments</button>
                            </div>
                        </div>

                        <form method="POST" action="/addComment" class="divToWriteComment">
                            <textarea name="comment" type="text" class="commentInput" rows="1" placeholder="Add a comment..."></textarea>
                            <button  class="comment_button" type="submit">Add Comment</button>
                            <input type="hidden" name="question" value="<%= questionArr[i]._id %>" />
                            <input type="hidden" name="answer" value="<%= answerArr[j]._id %>" />
                        </form>
                        <div id="seeAllComment-<%= j %>" style="display:none">
                
                            <% for(let k=0;k< commentArr.length;k++) { %>
                                <% if(typeof commentArr[k].answer != 'undefined' && commentArr[k].answer.toString() === answerArr[j]._id.toString()) {%>   
                                    <div class="divShowingComment" id="<%= commentArr[k]._id %>">
                                        <div class="userInfo">
                                            <div class="userDP">
                                                <img src="http://localhost:5000/profile/avatar/<%= commentArr[k].creator %>" alt="" class="userImageComment">
                                            </div>
                                            <div class="nameAndDate">
                                                <div class="userNameComment">Rajnish Tiwari</div>
                                                <div class="userDateComment"><%= commentArr[k].dateAndTime%></div>
                                            </div>
                                        </div>
                                        <h2><%= commentArr[k].commentText %></h2>
                                        <div class="commentOptions">
                                            <div class="upAndDownVote">
                                                <button class="buttonForUp"><i class="fas fa-thumbs-up"></i></button>
                                                <button class="buttonForDown"><i class="fas fa-thumbs-down"></i></button>
                                                <button 
                                                    id="nestedCom-<%= commentArr[k]._id %>" 
                                                    onClick="addNestedCom('<%= JSON.stringify(commentArr[k]) %>')"
                                                >
                                                    <i class="fal fa-reply fa-2x"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            <% } %>
                            
                        </div>
                    <% } %>
                <% } %>
                
            </div>
        </div>
    <% } %>
</div>

<script>
    const toggleAnswer = (i) => {
        const ansOfQ = document.getElementById(`seeAllAns-${i}`);

        if(ansOfQ.style.display === 'none'){
            
            ansOfQ.style.display = 'block'
        }else{
            ansOfQ.style.display = 'none'
        }
    }

    const toggleComment = (j) => {
        const commentOfAns = document.getElementById(`seeAllComment-${j}`);
        
        if(commentOfAns.style.display === 'none'){
            
            commentOfAns.style.display = 'block'
        }else{
            commentOfAns.style.display = 'none'
        }
    }

    
    let tempComment = '<%- JSON.stringify(commentArr) %>'
    let tempAnswer = '<%- JSON.stringify(commentArr) %>'
    let arrComment = JSON.parse(tempComment);
    let newCommentArr = arrComment.filter((comment) => typeof comment.answer == 'undefined')
    let arrAnswer = JSON.parse(tempAnswer);

    const addNestedCom = (obj) => {
        const parsedObj = JSON.parse(obj)
        const queue = [];
        queue.push(parsedObj);
        let k = 0;
        while(queue.length > 0) {
            let tempEle = queue.shift();
            if(k > 0){
                let newEle= document.createElement("div")
                let newComEle= document.createElement("div")
                newComEle.innerHTML = tempEle.commentText;
                newComEle.style.cssText="margin-bottom: 1em;"
                newEle.appendChild(newComEle);
                newEle.setAttribute("id",`${tempEle._id}`)
                newEle.style.cssText="padding: 1em;border-left: 2px solid #dee0e1;margin-left:1em"
                let parentEle = document.getElementById(`${tempEle.parentComment}`)
                parentEle.appendChild(newEle)
            }
            newCommentArr.forEach((comment) => {
                console.log(comment)
                if(comment.parentComment == tempEle._id){
                    queue.push(comment);
                }
            })
            k++;
        }
    }

</script>

<%- include('partials/footer.ejs') %>
