<%- include('partials/header.ejs') %>

<div class="outerMostDivForLogin">
    <div class="middleDivForLogin">
        <div class="loginFinalDiv">
            <p class="loginHeading"><span><i class="fas fa-sign-in-alt fa-lg"></i></span>Login</p>
            <% if((typeof message != 'undefined' && message.length > 0) || (typeof error != 'undefined' && error.length > 0)) {%>
                <%= console.log(message+" "+"nejfn"+error) %>
                <div class="message" style="color: pink;">
                    <h3><%= message.length > 0 ? message : error %></h3>
                    <button 
                    class="crossButton"
                    onClick="hide()"
                    >
                    <i class="far fa-times fa-2x"></i>
                    </button>
                </div>
            <%}%>
            <form action="/login", method="POST" class="loginForm">
                <div class="formDiv">
                    <label for="email">Email Id</label>
                    <input type="text" 
                        class="inputEle"  
                        id="email"
                        name="email" 
                        placeholder="Email..."
                        value="<%= typeof email != 'undefined' ? email : ''%>"
                    >
                </div>
                <div class="formDiv">
                    <label for="password">Password</label>
                    <input 
                        type="password" 
                        id="password"
                        class="inputEle" 
                        name="password"
                        placeholder="Password..."
                        value="<%= typeof password != 'undefined' ? password : ''%>"
                    >
                </div>
                <button type="submit" class="loginButton" name="loginButton">SignIn</button>
            </form>
            <button onclick="location.href='/signUp'" class="loginButton" >Want to SignUp?</button>
            
        </div>
    </div>
    
</div>

<script>
    const hide = ()=> {
        const msg = document.getElementsByClassName('message');
        msg[0].style.display = 'none';
    }
</script>

<%- include('partials/footer.ejs') %>